            <!-- Main Footer -->
            <footer class="main-footer alternate3">
              <div class="auto-container">
                <!--Widgets Section-->
                <div class="widgets-section">
                  <div class="row">

                    <div class="big-column col-xl-4 col-lg-3 col-md-12">
                      <div class="footer-column about-widget">
                        <div class="logo"><a href="{{path('app_home')}}"><img src="https://i.ibb.co/WHxgPdP/jobster-icon.png" style="width:100px;" alt="Jobster Logo"></a></div>
                        <p class="phone-num"><span>Call us </span><a href="support@jobster.co.zw" class="txt-small">+263782662405</a></p>
                        <p class="address">Harare CBD, Harare<br> Zimbabwe <br><a href="mailto:support@jobster.co.zw" class="email">support@jobster.co.zw</a></p>
                      </div>
                    </div>

                    <div class="big-column col-xl-8 col-lg-9 col-md-12">
                      <div class="row">
                        <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                          <div class="footer-widget links-widget">
                            <h4 class="widget-title">For Candidates</h4>
                            <div class="widget-content">
                              <ul class="list">
                                <li><a href="{{ path('app_jobs') }}">Browse Jobs</a></li>
                                <li><a href="{{ path('app_contact_us') }}">Contact Us</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>

                        {% if is_granted('ROLE_RECRUITER') %}
                        <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                          <div class="footer-widget links-widget">
                            <h4 class="widget-title">For Employers</h4>
                            <div class="widget-content">
                              <ul class="list">
                                <li><a href="#">Browse Candidates</a></li>
                                <li><a href="#">Post A Job</a></li>
                                <li><a href="#">Our Packages</a></li>
                                <li><a href="{{ path('app_contact_us') }}">Contact Us</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        {% endif %}


                        <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                          <div class="footer-widget links-widget">
                            <h4 class="widget-title">Helpful Resources</h4>
                            <div class="widget-content">
                              <ul class="list">
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Help Center</a></li>
                                <li><a href="#">Blog</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <!--Bottom-->
              <div class="footer-bottom">
                <div class="auto-container">
                  <div class="outer-box">
                    <div class="copyright-text">{{"now"|date('Y')}} <a href="#">Jobster Zimbabwe</a>. All Right Reserved.</div>
                    <div class="social-links">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                      <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Scroll To Top -->
              <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
            </footer>
            <!-- End Main Footer -->