{% extends 'form-base.html.twig' %}

{% block title %}Jobster Portal - Change Password{% endblock %}
{% block body %}

{% if response|length > 0 %}
{% if response.res == false %}
<div class = "alert alert-danger  txt-small">{{ response.msg }}</div>
{% else %}
<div class = "alert alert-success  txt-small">{{ response.msg }}</div>
{% endif %}
{% endif %}
{{ form_start(form, {'attr': {'class': 'default-form'}}) }}
<div class = "row">
    <!-- Input -->
    <div class = "form-group col-lg-6 col-md-12">
        {{ form_label(form.currentPassword) }}
        {{ form_widget(form.currentPassword, {'attr': {}}) }}
        {{ form_errors(form.currentPassword) }}
    </div>
    <div class = "form-group col-lg-6 col-md-12"></div>
    <div class = "form-group col-lg-6 col-md-12">
        {{ form_label(form.newPassword) }}
        {{ form_widget(form.newPassword, {'attr': {}}) }}
        {{ form_errors(form.newPassword) }}
    </div>
    <div class = "form-group col-lg-6 col-md-12">
        {{ form_label(form.conNewPassword) }}
        {{ form_widget(form.conNewPassword, {'attr': {}}) }}
        {{ form_errors(form.conNewPassword) }}
    </div>
</div>
<div    class = "form-group col-lg-12 col-md-12">
    <button class = "theme-btn btn-style-one" type = "submit">Update Password</button>
</div>
{{ form_end(form) }}
{% endblock %}